html {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

li strong {
    line-height: 90%;
    font-size: 24px;
}

#navbarmenu {
    z-index: 3;

    display: flex;
    justify-content: left;
    align-items: center;

    height: 10vh;

    font-family: Ubuntu Mono;
    font-size: 20px;
    text-transform: lowercase;
    font-weight: 400;

    list-style-type: none;
    margin: 0;
    padding-right: 2em;
    padding-left: 2em;
    overflow: hidden;
    background-color: var(--navy);

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#navbarmenu li {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    transition: .4s;
}

#navbarmenu li a {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
    text-align: center;
    padding: 1.5vw;
    text-decoration: none;
    transition: .2s;
    height: inherit;
}

#navbarmenu li a:hover {
    color: var(--whitedim);
}

@media screen and (max-aspect-ratio: 8/5) {
    #navbarmenu {
        font-size: 20px;
        font-weight: 600;
        height: 10vh;
    }

    #navbarmenu li a {
        padding: 2.5vh 5vw;
    }
}